<%- include('includes/head.ejs'); %>
<%- include('includes/navigation.ejs')%>



<div class="container">
   <div class="row">
      <div class="col-md-12">

         <%- include('includes/carousel.ejs') %>

      </div>
   </div>
</div>

<%- include('includes/footer.ejs'); %> 

<%- include('includes/end.ejs'); %>