<%- include('includes/head.ejs'); %>
<%- include('includes/navigation.ejs')%>



<div class="container">
   <div class="row">
      <div class="col-md-12">

         <%- include('includes/carousel.ejs') %>

      </div>
   </div>
</div>

<div class="container p-5">
   <div class="row bg-light">
      <div class="col-12  col-md-4">

         <div class="card shadow " style="width: 18rem;">
            <img class="card-img-top " src="/icon/peer.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-primary">Peer to Peer Learning</h5>
              <p class="card-text text-primary text-justify">On this platform everyone will learn by working together.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>

      </div>

      <div class="col-12  col-md-4">

         <div class="card shadow " style="width: 18rem;">
            <img class="card-img-top " src="/icon/connect.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-primary">Connect</h5>
              <p class="card-text text-primary text-justify">Meet and Connect with Different People from around the country.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
         
      </div>

      <div class="col-12  col-md-4">

         <div class="card shadow " style="width: 18rem;">
            <img class="card-img-top " src="/icon/grow.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-primary">Grow</h5>
              <p class="card-text text-primary text-justify">Grow your business by working together</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
         
      </div>
   </div>
</div>

<%- include('includes/footer.ejs'); %> 

<%- include('includes/end.ejs'); %>