<%- include('includes/head.ejs'); %>
<%- include('includes/navigation.ejs')%>
<div class="container">
   <div class="row">


      <div class="col-lg-12">

         <%- include('includes/carousel.ejs') %>
         <%- include('includes/carousel.ejs') %>
         <%- include('includes/carousel.ejs') %>
         <%- include('includes/carousel.ejs') %>
         <%- include('includes/carousel.ejs') %>
         

      </div>
   </div>
</div>

<main>
   <div class="container">

   </div>
</main>
<%- include('includes/footer.ejs'); %> 
<%- include('includes/end.ejs'); %>