<%- include('includes/head.ejs'); %>
<%- include('includes/navigation.ejs')%>



<div class="container">
   <div class="row justify-content-center">
      <div class="col-md-12">

         <%- include('includes/carousel.ejs') %>

      </div>
   </div>
</div>

<div class="container justify-content-center">
   <h4 class="p-4 text-primary">Things You Will Learn</h4>
   <div class="row  justify-content-center">

      <!--Card Number One-->
      <div class="col-12 col-sm-6  col-md-3 col-lg-3 col-xl-3 ">
         <div class="card shadow border-primary " style="width: 16rem;">
            <div class="row justify-content-center">
               <img class="p-2" src="/icon/peer.png" height="140px" width="140px" alt="Card image cap">
            </div>
            <div class="card-body">
               <h5 class="card-title text-primary">Peer to Peer Learning</h5>
               <p class="card-text text-primary ">On this platform everyone will learn by working together.
               </p>
               <a href="#" class="btn btn-primary stretched-link">Learn More</a>
            </div>
         </div>

      </div>

      <!--Card Number Two-->
      <div class="col-12  col-sm-6 col-md-3">
         <div class="card shadow border-primary" style="width: 16rem;">
            <div class="row justify-content-center">
               <img class="p-2"src="/icon/connect.png" height="140px" width="140px" alt="Card image cap">
            </div>
            <div class="card-body">
               <h5 class="card-title text-primary">Connect</h5>
               <p class="card-text text-primary ">Connect with Different People from around the country.</p>
               <a href="#" class="btn btn-primary stretched-link">Learn More</a>
            </div>
         </div>
      </div>


      <!--Card Number Three-->
      <div class="col-12 col-sm-6  col-md-3 ">
         <div class="card shadow border-primary" style="width: 16rem;">
            <div class="row justify-content-center">
               <img class="p-2" src="/icon/grow.png" height="140px" width="140px" alt="Card image cap">
            </div>
            <div class="card-body">
               <h5 class="card-title text-primary">Grow</h5>
               <p class="card-text text-primary ">Grow your business by working together</p>
               <a href="#" class="btn btn-primary stretched-link">Learn More</a>
            </div>
         </div>

      </div>


      <!--Card Number Four-->
      <div class="col-12 col-sm-6  col-md-3">
         <div class="card shadow border-primary " style="width: 16rem;">
            <div class="row justify-content-center">
               <img class="p-2" src="/icon/code.png" height="140px" width="140px" alt="Card image cap">
            </div>

            <div class="card-body">
               <h5 class="card-title text-primary">Code</h5>
               <p class="card-text text-primary ">Code And Learn by working Together</p>
               <a href="#" class="btn btn-primary stretched-link">Learn More</a>
            </div>
         </div>

      </div>
   </div>
</div>

<%- include('includes/footer.ejs'); %>

<%- include('includes/end.ejs'); %>