<%- include('includes/head.ejs'); %>
<%- include('includes/navigation.ejs')%>

<div class="container">

<div class="row justify-content-center">
   <div class="col-12 col-sm-10 col-md-9 col-lg-7 col-xl-7">


      <form action="/membership" onsubmit="return validation();"   class="form-container bg-light" method="POST">
         <div class="justify-content-center">

          <% if (message!=''){%>

            <div class="alert alert-success alert-dismissible ">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= message %>
            
            </div>
          

        <% }%>
            <h3>Membership Form</h3> 
         </div>
         <hr>
         <div class="form-group">
           <label class="required" >Full Name</label>
           <input  autocomplete="off" type="text"  onkeydown="clear_full_name();"  class="form-control" name="fullName" id="fullName"  placeholder="Full Name">
           <label id="valid_full_name"class="remove_error_label"  for="">Please Enter Valid Full Name</label>
         </div>
         <div class="form-group">
           <label class="required" >Email</label>
           <input  autocomplete="off" onkeydown="clear_email();" type="email" class="form-control" name="email" id="email" placeholder="Email">
           <label id="valid_email"  class="remove_error_label"  for="">Please Enter Valid Email</label>
          </div>

         <div class="form-group">
            <label class="required" >Phone#</label>
            <input autocomplete="off" onkeydown="clear_phone();" type="phone" class="form-control" name="phone" id="phone" placeholder="+923042342092">
            <label id="valid_phone"  class="remove_error_label"  for="">Please Enter Valid Phone Number</label>
          </div>

          <div class="form-group">
            <label class="required" >University Name</label>
            <input  autocomplete="off" onkeydown="clear_university_name();" type="text" class="form-control" name="uname" id="uname" placeholder="Univeristy Name">
            <label id="valid_university_name"  class="remove_error_label"  for="">Please Enter Valid Univeristy Name</label>
          </div>

          
          <div class="form-group">
            <label class="required" >Department Name</label>
            <input  autocomplete="off" type="text"  onkeydown="clear_department_name();"  class="form-control" name="dname" id="dname" placeholder="Department Name">
            <label id="valid_department_name" class="remove_error_label"  for="">Please Enter Valid Department Name</label>
          </div>

          
          <div class="form-group">
            <label class="required" >Experience</label>
            <input autocomplete="off" type="text" onkeydown="clear_experience();" class="form-control" name="experience" id="experience" placeholder="Experience">
            <label id="valid_experience"  class="remove_error_label"  for="">Please Enter Valid Experience Details</label>
          </div>

          <div class="form-group">
            <label class="required" >Motivation for Joining HSDC</label>
            <input  autocomplete="off" type="text" onkeydown="clear_motivation();" class="form-control" name="motivation" id="motivation" placeholder="Motivation">
            <label id="valid_motivation"  class="remove_error_label"  for="">Please Enter Valid Motivation Details</label>
          </div>
        
         <button type="submit" class="btn btn-primary">Submit</button>
       </form>


   </div>
</div>
</div>




<%- include('includes/footer.ejs'); %>

<%- include('includes/end.ejs'); %>